{<<"app">>,<<"merge_accounting_client">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"The unified API for building rich integrations with multiple HR Information System platforms.">>}.
{<<"elixir">>,<<"~> 1.6">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/merge_accounting_client">>,
  <<"lib/merge_accounting_client/request_builder.ex">>,
  <<"lib/merge_accounting_client/deserializer.ex">>,
  <<"lib/merge_accounting_client/model">>,
  <<"lib/merge_accounting_client/model/employment_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/employment_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/account_details_and_actions.ex">>,
  <<"lib/merge_accounting_client/model/earning_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/units_enum.ex">>,
  <<"lib/merge_accounting_client/model/employee_endpoint_request.ex">>,
  <<"lib/merge_accounting_client/model/validation_problem_source.ex">>,
  <<"lib/merge_accounting_client/model/paginated_account_details_and_actions_list.ex">>,
  <<"lib/merge_accounting_client/model/category_enum.ex">>,
  <<"lib/merge_accounting_client/model/account_details_and_actions_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/request_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/sync_status.ex">>,
  <<"lib/merge_accounting_client/model/paginated_sync_status_list.ex">>,
  <<"lib/merge_accounting_client/model/team.ex">>,
  <<"lib/merge_accounting_client/model/webhook_receiver.ex">>,
  <<"lib/merge_accounting_client/model/paginated_team_list.ex">>,
  <<"lib/merge_accounting_client/model/run_state_enum.ex">>,
  <<"lib/merge_accounting_client/model/country_enum.ex">>,
  <<"lib/merge_accounting_client/model/paginated_location_list.ex">>,
  <<"lib/merge_accounting_client/model/multipart_form_field_request.ex">>,
  <<"lib/merge_accounting_client/model/end_user_details_request.ex">>,
  <<"lib/merge_accounting_client/model/debug_model_log_summary.ex">>,
  <<"lib/merge_accounting_client/model/sync_status_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/generate_remote_key_request.ex">>,
  <<"lib/merge_accounting_client/model/gender_enum.ex">>,
  <<"lib/merge_accounting_client/model/tax.ex">>,
  <<"lib/merge_accounting_client/model/linked_account_status.ex">>,
  <<"lib/merge_accounting_client/model/paginated_payroll_run_list.ex">>,
  <<"lib/merge_accounting_client/model/encoding_enum.ex">>,
  <<"lib/merge_accounting_client/model/paginated_time_off_list.ex">>,
  <<"lib/merge_accounting_client/model/ethnicity_enum.ex">>,
  <<"lib/merge_accounting_client/model/paginated_deduction_list.ex">>,
  <<"lib/merge_accounting_client/model/webhook_receiver_request.ex">>,
  <<"lib/merge_accounting_client/model/paginated_group_list.ex">>,
  <<"lib/merge_accounting_client/model/paginated_time_off_balance_list.ex">>,
  <<"lib/merge_accounting_client/model/run_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/ignore_common_model.ex">>,
  <<"lib/merge_accounting_client/model/remote_data.ex">>,
  <<"lib/merge_accounting_client/model/time_off_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/account_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/deduction.ex">>,
  <<"lib/merge_accounting_client/model/employee_response.ex">>,
  <<"lib/merge_accounting_client/model/company.ex">>,
  <<"lib/merge_accounting_client/model/earning.ex">>,
  <<"lib/merge_accounting_client/model/link_token.ex">>,
  <<"lib/merge_accounting_client/model/policy_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/remote_data_request.ex">>,
  <<"lib/merge_accounting_client/model/type_enum.ex">>,
  <<"lib/merge_accounting_client/model/time_off_request.ex">>,
  <<"lib/merge_accounting_client/model/request_format_enum.ex">>,
  <<"lib/merge_accounting_client/model/paginated_company_list.ex">>,
  <<"lib/merge_accounting_client/model/flsa_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/account_details_and_actions_integration.ex">>,
  <<"lib/merge_accounting_client/model/pay_group.ex">>,
  <<"lib/merge_accounting_client/model/paginated_benefit_list.ex">>,
  <<"lib/merge_accounting_client/model/ignore_common_model_request.ex">>,
  <<"lib/merge_accounting_client/model/meta_response.ex">>,
  <<"lib/merge_accounting_client/model/benefit.ex">>,
  <<"lib/merge_accounting_client/model/issue.ex">>,
  <<"lib/merge_accounting_client/model/model_operation.ex">>,
  <<"lib/merge_accounting_client/model/account_details.ex">>,
  <<"lib/merge_accounting_client/model/account_token.ex">>,
  <<"lib/merge_accounting_client/model/paginated_issue_list.ex">>,
  <<"lib/merge_accounting_client/model/categories_enum.ex">>,
  <<"lib/merge_accounting_client/model/benefit_plan_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/method_enum.ex">>,
  <<"lib/merge_accounting_client/model/marital_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/employee_payroll_run.ex">>,
  <<"lib/merge_accounting_client/model/paginated_employee_list.ex">>,
  <<"lib/merge_accounting_client/model/remote_response.ex">>,
  <<"lib/merge_accounting_client/model/time_off_response.ex">>,
  <<"lib/merge_accounting_client/model/available_actions.ex">>,
  <<"lib/merge_accounting_client/model/paginated_bank_info_list.ex">>,
  <<"lib/merge_accounting_client/model/location.ex">>,
  <<"lib/merge_accounting_client/model/pay_currency_enum.ex">>,
  <<"lib/merge_accounting_client/model/time_off_endpoint_request.ex">>,
  <<"lib/merge_accounting_client/model/payroll_run.ex">>,
  <<"lib/merge_accounting_client/model/time_off.ex">>,
  <<"lib/merge_accounting_client/model/warning_validation_problem.ex">>,
  <<"lib/merge_accounting_client/model/remote_key_for_regeneration_request.ex">>,
  <<"lib/merge_accounting_client/model/pay_period_enum.ex">>,
  <<"lib/merge_accounting_client/model/employment.ex">>,
  <<"lib/merge_accounting_client/model/bank_info.ex">>,
  <<"lib/merge_accounting_client/model/employee_request.ex">>,
  <<"lib/merge_accounting_client/model/location_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/account_integration.ex">>,
  <<"lib/merge_accounting_client/model/paginated_employee_payroll_run_list.ex">>,
  <<"lib/merge_accounting_client/model/issue_status_enum.ex">>,
  <<"lib/merge_accounting_client/model/pay_frequency_enum.ex">>,
  <<"lib/merge_accounting_client/model/data_passthrough_request.ex">>,
  <<"lib/merge_accounting_client/model/debug_mode_log.ex">>,
  <<"lib/merge_accounting_client/model/reason_enum.ex">>,
  <<"lib/merge_accounting_client/model/time_off_balance.ex">>,
  <<"lib/merge_accounting_client/model/group_type_enum.ex">>,
  <<"lib/merge_accounting_client/model/remote_key.ex">>,
  <<"lib/merge_accounting_client/model/employee.ex">>,
  <<"lib/merge_accounting_client/model/group.ex">>,
  <<"lib/merge_accounting_client/model/paginated_pay_group_list.ex">>,
  <<"lib/merge_accounting_client/model/error_validation_problem.ex">>,
  <<"lib/merge_accounting_client/model/paginated_employment_list.ex">>,
  <<"lib/merge_accounting_client/api">>,
  <<"lib/merge_accounting_client/api/time_off_balances.ex">>,
  <<"lib/merge_accounting_client/api/teams.ex">>,
  <<"lib/merge_accounting_client/api/sync_status.ex">>,
  <<"lib/merge_accounting_client/api/groups.ex">>,
  <<"lib/merge_accounting_client/api/issues.ex">>,
  <<"lib/merge_accounting_client/api/force_resync.ex">>,
  <<"lib/merge_accounting_client/api/linked_accounts.ex">>,
  <<"lib/merge_accounting_client/api/link_token.ex">>,
  <<"lib/merge_accounting_client/api/employee_payroll_runs.ex">>,
  <<"lib/merge_accounting_client/api/employments.ex">>,
  <<"lib/merge_accounting_client/api/employees.ex">>,
  <<"lib/merge_accounting_client/api/deductions.ex">>,
  <<"lib/merge_accounting_client/api/companies.ex">>,
  <<"lib/merge_accounting_client/api/passthrough.ex">>,
  <<"lib/merge_accounting_client/api/locations.ex">>,
  <<"lib/merge_accounting_client/api/delete_account.ex">>,
  <<"lib/merge_accounting_client/api/webhook_receivers.ex">>,
  <<"lib/merge_accounting_client/api/account_details.ex">>,
  <<"lib/merge_accounting_client/api/account_token.ex">>,
  <<"lib/merge_accounting_client/api/available_actions.ex">>,
  <<"lib/merge_accounting_client/api/generate_key.ex">>,
  <<"lib/merge_accounting_client/api/time_off.ex">>,
  <<"lib/merge_accounting_client/api/regenerate_key.ex">>,
  <<"lib/merge_accounting_client/api/payroll_runs.ex">>,
  <<"lib/merge_accounting_client/api/pay_groups.ex">>,
  <<"lib/merge_accounting_client/api/bank_info.ex">>,
  <<"lib/merge_accounting_client/api/benefits.ex">>,
  <<"lib/merge_accounting_client/connection.ex">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/merge-api/merge-accounting-elixir">>}]}.
{<<"name">>,<<"merge_accounting_client">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"tesla">>},
   {<<"name">>,<<"tesla">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.2">>}],
  [{<<"app">>,<<"poison">>},
   {<<"name">>,<<"poison">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.0">>}]]}.
{<<"version">>,<<"1.0.3">>}.
